/* Estilo base para las alertas */
.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff; /* Texto blanco para buen contraste */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    animation: fadeOut 2s forwards; /* Efecto de desvanecimiento */
}

/* Alertas de error */
.alert-danger {
    background-color: #ff6b6b; /* Rojo suave */
}

/* Alertas de éxito */
.alert-success {
    background-color: #48c78e; /* Verde suave */
}

/* Animación de desvanecimiento */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* Ancho completo para contenedores */
#alert-container, #alert-container-edit {
    width: 100%;
}

/* Estilo de las alertas dentro de los contenedores */
#alert-container .alert, #alert-container-edit .alert {
    animation: fadeOut 2s forwards;
}
