/* Estilos para el Modal */
.modal {
    display: none; /* Escondido por defecto */
    position: fixed;
    z-index: 1; /* Sitúa el modal sobre el contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
    overflow: auto; /* Habilita scroll si es necesario */
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    max-width: 400px; /* Máximo ancho del modal */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Título del Modal */
.modal-content h2 {
    color: #ff8c00; /* Título en naranja oscuro */
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ff8c00; /* Barra naranja debajo del título */
}

/* Barra encima de los botones */
.modal-buttons {
    margin-top: 20px;
    border-top: 3px solid #ff8c00; /* Barra naranja encima de los botones */
    padding-top: 20px;
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    gap: 10px; /* Espacio entre los botones */
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Botón de Guardar Cambios */
.save-button {
    background-color: #0091ea; /* Azul claro */
    width: 48%; /* Ajustar tamaño para espacio entre botones */
}

.save-button:hover {
    background-color: #00b0ff;
}

/* Botón de Cerrar */
.close-button {
    background-color: #e74c3c; /* Rojo */
    width: 48%; /* Ajustar tamaño para espacio entre botones */
}

.close-button:hover {
    background-color: #c0392b;
}

/* Restablecer estilos de formularios */
form {
    margin: 0;
    padding: 0;
}

/* Contenedor del formulario */
.product-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    gap: 15px; /* Espaciado consistente entre los elementos */
}

/* Estilos específicos para los elementos del formulario */
form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    display: block;
}

form input, form textarea, form select {
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    background-color: #f9f3e0; /* Color de fondo claro */
    margin-bottom: 15px; /* Espaciado entre los campos */
}

form input:focus, form textarea:focus, form select:focus {
    border-color: #ff8c00; /* Resalta el borde */
    outline: none;
}

/* Estilos específicos para textarea */
form textarea {
    resize: none; /* Deshabilita el redimensionamiento */
    height: auto;
}
