body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Estructura general */
.header, .footer {
    width: 100%;
    padding: 15px;
    color: #fff;
    text-align: center;
    background-color: #ff8c00; /* Color naranja */
}

.footer {
    background-color: #ff8c00; /* Color naranja para el footer */
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Resta altura del header y footer */
    padding: 20px;
    text-align: center;
}
