<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">

<head>
</head>

<body>
<div class="modal fade" id="verifyModalContent" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verifyModalContent_title">Ingredientes</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <h5 style="font-size: small">Deshabilita la casilla de los ingredientes que no deseas.</h5>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button   type="button" class="btn btn-primary" onclick="addToCart()">Agregar a mi Pedido</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>