<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head>
</head>
<body>


<!-- Modal Para Actualizar y Dar de Alta -->
<div class="modal fade" id="miModalGrande" tabindex="-1" role="dialog" aria-labelledby="modalLabelGrande"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMedianoLabel">Nuevo Prododucto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-container2"></div>
                <form id="productoForm" class="login-form signup-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="prodId" name="prodId" hidden/>
                        <input type="text" class="form-control" id="identificador" name="identificador" hidden/>
                        <label for="producto" class="form-label">Producto:</label>
                        <input type="text" class="form-control" id="producto" name="producto"
                               onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
                    </div>
                    <div class="mb-3">
                        <label for="ingredientes" class="form-label">Ingredientes:</label>
                        <input type="text" class="form-control" id="ingredientes" name="ingredientes"
                               onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="text" class="form-control" id="precio" name="precio">
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Seleccionar archivo:</label>
                        <input type="file" class="form-control" id="imagen" name="imagen"></div>
                    <div class="mb-3">
                        <label for="prodTipo" class="form-label">Tipo de Producto:</label>
                        <select class="form-select" id="prodTipo" name="prodTipo">
                            <option value="" disabled>-- Selecciona tipo de Producto --</option>
                            <option th:each="tipo : ${productoTipo}" th:value="${tipo.catProdId}"
                                    th:text="${tipo.descripcion}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="prodEstatus" class="form-label">Estatus del Producto:</label>
                        <select class="form-select" id="prodEstatus" name="prodEstatus">
                            <option value="" disabled>-- Selecciona el estatus del Producto --</option>
                            <option th:each="esta : ${productoEstatus}" th:value="${esta.catEstId}"
                                    th:text="${esta.descripcion}"></option>
                        </select>
                    </div>
                    <div class="mb-2" style="text-align: center" id="BotonesModal">
                        <input type="submit" id="submitBtn" class="btn btn-primary" value="Dar de Alta">
                        <input type="submit" id="updateBtn" class="btn btn-primary" value="Actualizar">
                        <input type="reset" value="Borrar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Para Actualizar y Dar de Alta -->
<div class="modal fade" id="updateComentario" tabindex="-1" role="dialog" aria-labelledby="modalLabelGrande"
     aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Prododucto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateComentarioForm" class="login-form signup-form" method="post">
                    <div class="mb-3">
                        <input type="number" class="form-label" id="comId" name="comId" hidden/>
                        <label for="producto" class="form-label">Producto:</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="4" disabled></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Estatus del Producto:</label>
                        <select class="form-select" id="comTipo" name="comTipo">
                            <option value="" disabled>-- Selecciona el estatus del Producto --</option>
                            <option th:each="cat : ${catEstatus}" th:value="${cat.getCatEstId()}"
                                    th:text="${cat.getDescripcion()}"></option>
                        </select>
                    </div>
                    <div class="mb-2" style="text-align: center">
                        <input type="submit" id="updateBtnComentario" class="btn btn-primary" value="Actualizar">
                        <input type="reset" value="Borrar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>