<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head>
</head>
<body>

<!-- ***** Productos ***** -->
<section id="features" class="section benifits-area ptb_100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <div th:if="${mensaje}" class="alert alert-success alert-dismissible fade show" role="alert">
                <p th:text="${mensaje}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="section-heading text-center">
                <h2 class="text-capitalize">CAFETERIA COLIBRI</h2>
                <p class="d-none d-sm-block mt-4">Bienvenido
                <p th:text="${session.usuario.getNombre()}"></p> siempre encontraras
                la mejor calidad en pizzas,
                hamburguesas y bebidas.<br>Tu comodidad es nuestra prioridad número uno.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="contenedorAlertas"></div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="200"
                 th:each="producto : ${productos}">
                <div class="benifits-item">
                    <img th:src="@{${producto.getImagen()}}" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title" th:text="${producto.getProducto()}"></h5>
                        <p class="card-text" style="text-align: left;" th:text="${producto.getDescripcion()}"></p>
                        <br>
                        <a class="text-success mr-2" data-toggle="modal" data-target="#verifyModalContent"
                           data-whatever="@mdo" th:data-ingredientes="${producto.getIngredientes()}"
                           th:data-imagen="${producto.getImagen()}"
                           th:data-precio="${producto.getPrecio()}" th:data-producto="${producto.getProducto()}">
                            <p th:text="'$'+${producto.getPrecio()}"></p>
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Bebidas ***** -->
<section id="bebidas" class="section benifits-area ptb_100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="section-heading text-center">
                <h2 class="text-capitalize">Bebidas</h2>
                <p class="d-none d-sm-block mt-4">Refresca tu paladar.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="200"
                 th:each="producto : ${bebidas}">
                <div class="benifits-item">
                    <img th:src="@{${producto.getImagen()}}" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title" th:text="${producto.getProducto()}"></h5>
                        <p class="card-text" style="text-align: left;" th:text="${producto.getDescripcion()}"></p>
                        <br>
                        <a class="text-success mr-2  btn-agregar-bebida" data-whatever="@mdo"
                           th:data-imagen="${producto.getImagen()}" th:data-descripcion="${producto.getDescripcion()}"
                           th:data-precio="${producto.getPrecio()}" th:data-producto="${producto.getProducto()}">
                            <p th:text="'$'+${producto.getPrecio()}"></p>

                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Combos ***** -->
<section id="combos" class="section benifits-area ptb_100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <div class="section-heading text-center">
                <h2 class="text-capitalize">COMBOS Y PROMOCIONES</h2>
                <p class="d-none d-sm-block mt-4">Aprovecha los precios especiales.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="200"
                 th:each="producto : ${promociones}">
                <div class="benifits-item">
                    <img th:src="@{${producto.getImagen()}}" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title" th:text="${producto.getProducto()}"></h5>
                        <p class="card-text" style="text-align: left;" th:text="${producto.getDescripcion()}"></p>
                        <br>
                        <a class="text-success mr-2  btn-agregar-bebida" data-whatever="@mdo"
                           th:data-imagen="${producto.getImagen()}" th:data-descripcion="${producto.getDescripcion()}"
                           th:data-precio="${producto.getPrecio()}" th:data-producto="${producto.getProducto()}">
                            <p th:text="'$'+${producto.getPrecio()}"></p>
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Comentarios-->
<section id="team" class="section team-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Conoce un poco de la opinion de los demas.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-slider owl-carousel">
                <div th:each="comentario : ${principales}" class="single-team text-center px-3 py-2 m-2">
                    <div class="team-photo mx-auto">
                        <img th:src="@{/assets/img/users/d1.jpg}" alt="">
                    </div>
                    <div class="team-content mt-2 mb-1">
                        <h3 class="team-name mt-3 mb-2" th:text="${comentario.getNombre()}">Nombre</h3>
                        <h5 class="team-post mb-2" th:text="${comentario.getAsunto()}">Asunto</h5>
                        <p class="team-description" th:text="${comentario.getMensaje()}">Mensaje</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contacto-->
<section id="contact" class="contact-area bg-gray ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Dejanos tu comentario :3</h2>
                    <p class="d-none d-sm-block mt-4">Tu opinion es muy importante para nosotros.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-box text-center">
                    <form id="cometario" th:action="@{/private/index}" th:object="${comentario}" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre"
                                           th:value="${session.usuario.getNombre()}" disabled>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo"
                                           th:value="${session.usuario.getCorreo()}" disabled>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Asunto"
                                           required="required" th:field="*{asunto}">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                            <textarea class="form-control" placeholder="Mensaje"
                                                      required="required" th:field="*{mensaje}"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>