<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú Principal</title>
        <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
    </head>

    <body>
        <!-- Header -->
        <div class="header">
            <h1>Menú Principal</h1>
        </div>

        <!-- Menú de categorías (Bebidas | Comida) -->
        <div class="category-menu">
            <a href="#bebidas">Bebidas</a>
            <a href="#comida">Comida</a>
            <a th:href="@{/}">Qr</a>
        </div>

        <!-- Contenedor del menú -->
        <div class="menu-container">
            <div class="menu">
                <!-- Título Bebidas -->
                <div id="bebidas" class="menu-title">
                    <h2>Bebidas</h2>
                </div>
                <!-- Productos Bebidas -->
                <div class="menu-item" th:each="pP : ${prodBebidas}">
                    <h3 th:text="${pP.getNombre()}"></h3>
                    <img th:src="@{/assets/img/coctel2.jpg}"  />
                    <p th:text="${pP.getDescripcion()}"></p>
                    <p class="price" th:text="${pP.getPrecio()}"></p>
                </div>

                <!-- Título Comida -->
                <div id="comida" class="menu-title">
                    <h2>Comida</h2>
                </div>

                <!-- Productos Comida -->
                <div class="menu-item" th:each="pP : ${prodComida}">
                    <h3 th:text="${pP.getNombre()}"></h3>
                    <img th:src="@{/assets/img/comida2.jpg}" />
                    <p th:text="${pP.getDescripcion()}"></p>
                    <p class="price" th:text="${pP.getPrecio()}"></p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>© 2024 Sistema de Menú - Todos los derechos reservados.</p>
        </div>
    </body>

</html>