<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head th:replace="layouts/HeadLayout:: head"></head>

<body class="miami">
<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div id="scrollUp" title="Scroll To Top">
    <i class="icofont-bubble-up"></i>
</div>
<div class="all-area">
    <header class="section header-area">
        <div id="appo-header" class="main-header-area">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="#">
                        <img class="logo" th:src="@{/assets/img/logoColibri.png}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appo-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="appo-menu">
                        <ul class="navbar-nav header-items ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/private/index}">Inicio</a>
                            </li>
                            <form th:action="@{/logout}" th:method="post">
                                <li class="nav-item">
                                    <button type="submit" class="nav-link btn btn-bordered">Salir</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>


    <section id="blog" class="section blog-area ptb_100">
        <br>

        <div class="container">
            <div th:if="${alertaExitoPedido}" class="alert alert-success" role="alert">
                <span th:text="${alertaExitoPedido}"></span>
                <button type="button" class="close" onclick="cerrarAlerta(this)" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="section-heading text-center">
                <h2 class="text-capitalize" th:text="${session.usuario.getNombre()}"></h2>
                <p class="d-none d-sm-block mt-4">Pantalla de Pedidos</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="single-blog res-margin">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align: center;">
                                <h3 class="text-capitalize" id="tituloPedido">Detalles del Pedido</h3>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive ">
                                    <input id="clavePedidoEnProceso" hidden/>
                                    <table class="table table-striped search-table v-middle">
                                        <thead class="header-item">
                                        <th></th>
                                        <th class="text-dark font-weight-bold text-center">Producto</th>
                                        <th class="text-dark font-weight-bold text-center">Ingredientes</th>
                                        <th class="text-dark font-weight-bold text-center">cantidad</th>
                                        </thead>
                                        <tbody id="detallesPedido">

                                        </tbody>
                                    </table>
                                    <p id="totalPedido" style="text-align: right">$</p>
                                </div>
                            </div>
                            <div class="modal-footer ocultar" style="text-align: right">
                                <select class="form-select" id="estatusPedido" name="estatusPedido">
                                    <option value="">-- Selecciona un estatus--</option>
                                    <option th:each="est : ${estatusPed}" th:value="${est.getCatEstId()}"
                                            th:text="${est.getDescripcion()}"></option>
                                </select>

                                <a class="btn btn-danger mr-2 delete-comentario" id="cambiarEstatusBtn" href="#">
                                    <i class="fa fa-edit"></i> Cambiar Estatus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="single-blog res-margin">
                        <div class="blog-content p-4">
                            <div class="table-responsive ">
                                <table class="table table-striped search-table v-middle">
                                    <h5 class="text-center">Mis Pedidos</h5>
                                    <thead class="header-item">
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    </thead>
                                    <tbody>
                                    <tr class="search-items" th:each="pP : ${pedidosUsuario}">
                                        <td th:text="'Id Pedido: '+${pP.getPedId()} + '     Usuario: '+ ${pP.getUsuId().getUsuId()}+'- Fecha: '+${pP.getFecha()}"></td>
                                        <td th:class="${pP.getPedEst().getCatEstId() == 1 ? 'badge badge-danger' :
                                                   pP.getPedEst().getCatEstId() == 2 ? 'badge badge-warning' : 'badge badge-info'}"
                                            th:text="${pP.getPedEst().getDescripcion()}"></td>
                                        <td class="text-center">
                                            <a class="text-success mr-2 carga-detalles"
                                               th:data-idPedido="${pP.getPedId()}"
                                               th:data-total="${pP.getTotal()}"
                                               onclick="MostrarModalFooter()"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped search-table v-middle">
                                    <br>
                                    <h5 class="text-center">Pedidos en Espera</h5>
                                    <thead class="header-item">
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    <th class="text-dark font-weight-bold text-center"></th>
                                    </thead>
                                    <tbody>
                                    <tr class="search-items" th:each="pP : ${pedidosGenerales}">
                                        <td th:text="'Id Pedido: '+${pP.getPedId()} + '     Usuario: '+ ${pP.getUsuId().getUsuId()}+'- Fecha: '+${pP.getFecha()}"></td>
                                        <td th:class="${pP.getPedEst().getCatEstId() == 1 ? 'badge badge-danger' :
                                                   pP.getPedEst().getCatEstId() == 2 ? 'badge badge-warning' : 'badge badge-info'}"
                                            th:text="${pP.getPedEst().getDescripcion()}"></td>
                                        <td class="text-center">
                                            <a class="text-success mr-2 carga-detalles" href="#"
                                               th:data-idPedido="${pP.getPedId()}" th:data-total="${pP.getTotal()}"
                                               onclick="OcualtarModalFooter()">
                                                <i class="fa fa-eye"></i>
                                            </a>


                                            <a class="text-danger mr-2 delete-product"
                                               th:href="@{/private/camEstPed(pedId=${pP.getPedId()})}">
                                                <i class="fa fa-user-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Footer Area Start ======-->
    <footer th:replace="layouts/FooterLayout:: footer"></footer>
</div>


<!-- Generales -->
<script th:replace="layouts/ScriptLayout:: script"></script>
<script th:src="@{/assets/js/utilities/PantallaPrincipal.js}"></script>
</body>

</html>