<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head th:replace="layouts/HeadLayout:: head"></head>

<body class="miami">
<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<div id="scrollUp" title="Scroll To Top">
    <i class="icofont-bubble-up"></i>
</div>
<div class="all-area">
    <header class="section header-area">
        <div id="appo-header" class="main-header-area">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="#">
                        <img class="logo" th:src="@{/assets/img/logoColibri.png}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appo-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="appo-menu">
                        <ul class="navbar-nav header-items ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/private/index}">Inicio</a>
                            </li>
                            <form th:action="@{/logout}" th:method="post">
                                <li class="nav-item">
                                    <button type="submit" class="nav-link btn btn-bordered">Salir</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section id="features" class="section benifits-area ptb_100">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <br>
                <br>
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">ADMINISTRAR PEDIDOS</h2>
                    <p class="d-none d-sm-block mt-4">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myIconTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="home-icon-tab" data-toggle="tab"
                                            href="#homeIcon" role="tab" aria-controls="homeIcon" aria-selected="true"><i
                            class="nav-icon i-Home1 mr-1"></i>Pedidos de Hoy</a></li>
                    <li class="nav-item"><a class="nav-link" id="profile-icon-tab" data-toggle="tab"
                                            href="#profileIcon" role="tab" aria-controls="profileIcon"
                                            aria-selected="false"><i
                            class="nav-icon i-Home1 mr-1"></i>Pedidos generales </a></li>
                </ul>
                <div class="tab-content" id="myIconTabContent">
                    <br>
                    <br>
                    <div class="tab-pane fade show active" id="homeIcon" role="tabpanel"
                         aria-labelledby="home-icon-tab">
                        <div class="col-md-12 mb-4">
                            <div class="table-responsive">
                                <table class="table table-borderless" id="zero_configuration_table"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id Pedido</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Observaciones</th>
                                        <th scope="col">Estatus</th>
                                        <th scope="col">Atendido</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${pedidosDia.isEmpty()}" class="search-items">
                                        <td colspan="5" class="text-center">Aun no contamos con registros</td>
                                    </tr>
                                    <tr th:each="pedido : ${pedidosDia}" th:unless="${pedidosDia.isEmpty()}">
                                        <td th:text="${pedido.getPedId()}"></td>
                                        <td th:text="${pedido.getUsuId().getUsuId() + ' - ' + pedido.getUsuId().getNombre()}"></td>
                                        <td th:text="${pedido.getFecha()}"></td>
                                        <td th:text="${pedido.getFechaCon()}"></td>
                                        <td th:text="${pedido.getTotal()}"></td>
                                        <td th:text="${pedido.getDescripcion()}"></td>
                                        <td><span th:class="${pedido.getPedEst().getCatEstId() == 1 ? 'badge badge-info' :
                                                   pedido.getPedEst().getCatEstId() == 9 ? 'badge badge-warning' :
                                                   pedido.getPedEst().getCatEstId() == 2 ? 'badge badge-warning':
                                                    pedido.getPedEst().getCatEstId() == 3 ? 'badge badge-success'  : 'badge badge-danger'}"
                                                  th:text="${pedido.getPedEst().getDescripcion()}"></span></td>
                                        <td th:if="${pedido.getEmpId() != null}"
                                            th:text="${pedido.getEmpId().getUsuId() + ' - ' + pedido.getEmpId().getNombre()}"></td>
                                        <td th:if="${pedido.getEmpId() == null}">
                                            Aun no se a asignado el pedido
                                        </td>
                                        <td>
                                            <a class="text-success mr-2" href="#"
                                               th:data-idPedido="${pedido.getPedId()}" data-toggle="modal"
                                               data-target="#miModalGrande">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profileIcon" role="tabpanel" aria-labelledby="profile-icon-tab">
                        <div class="col-md-12 mb-4">
                            <div class="table-responsive">
                                <table class="table table-borderless" id="comma_decimal_table" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id Pedido</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Observaciones</th>
                                        <th scope="col">Estatus</th>
                                        <th scope="col">Atendido</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pedido : ${pedidosGenerales}">
                                        <td th:text="${pedido.getPedId()}"></td>
                                        <td th:text="${pedido.getUsuId().getUsuId() + ' - ' + pedido.getUsuId().getNombre()}"></td>
                                        <td th:text="${pedido.getFecha()}"></td>
                                        <td th:text="${pedido.getFechaCon()}"></td>
                                        <td th:text="${pedido.getTotal()}"></td>
                                        <td th:text="${pedido.getDescripcion()}"></td>
                                        <td><span th:class="${pedido.getPedEst().getCatEstId() == 1 ? 'badge badge-info' :
                                                   pedido.getPedEst().getCatEstId() == 9 ? 'badge badge-warning' :
                                                   pedido.getPedEst().getCatEstId() == 2 ? 'badge badge-warning':
                                                    pedido.getPedEst().getCatEstId() == 3 ? 'badge badge-success'  : 'badge badge-danger'}"
                                                  th:text="${pedido.getPedEst().getDescripcion()}"></span></td>
                                        <td th:if="${pedido.getEmpId() != null}"
                                            th:text="${pedido.getEmpId().getUsuId() + ' - ' + pedido.getEmpId().getNombre()}"></td>
                                        <td th:if="${pedido.getEmpId() == null}">
                                            Aun no se a asignado el pedido
                                        </td>
                                        <td>
                                            <a class="text-success mr-2" href="#"
                                               th:data-idPedido="${pedido.getPedId()}" data-toggle="modal"
                                               data-target="#miModalGrande">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Footer Area Start ======-->
    <footer th:replace="layouts/FooterLayout:: footer"></footer>
</div>

<div class="modal fade" id="miModalGrande" tabindex="-1" role="dialog" aria-labelledby="modalLabelGrande"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelGrande">Detalle de Pedido </h5>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped search-table v-middle">
                        <thead class="header-item" style="text-align: center">
                        <th class="text-dark font-weight-bold"></th>
                        <th class="text-dark font-weight-bold">Producto</th>
                        <th class="text-dark font-weight-bold">Descripcion</th>
                        <th class="text-dark font-weight-bold">Precio</th>
                        <th class="text-dark font-weight-bold">Cantidad</th>
                        <th class="text-dark font-weight-bold">Total</th>
                        <th class="text-dark font-weight-bold"></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p id="totalPedido" style="text-align: right"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Generales -->
<script th:replace="layouts/ScriptLayout:: script"></script>
<!--Tablas-->
<script th:src="@{/assets/js/plugins/datatables.min.js}"></script>
<script th:src="@{/assets/js/scripts/datatables.script.min.js}"></script>
<script th:src="@{/assets/js/utilities/Pedidos.js}"></script>
</body>

</html>