<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    class="no-js"
    lang="en"
    >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Código QR - Acceso al Menú</title>
        <link rel="stylesheet" th:href="@{/assets/css/qr_styles.css}" />
        <!-- Hoja de estilo específica para esta página -->
    </head>
    <body>
        <div class="header">
            <h1>Acceso al Menú</h1>
        </div>

        <div class="qr-container">
            <img th:src="@{/assets/img/qr.png}" class="qr-image" alt="Código QR" />
            <p>Escanea el código QR para acceder al menú.</p>
            <a class="nav-link" th:href="@{/public/index}">Inicio</a>
            <a class="secondary-link" th:href="@{/public/menu}">Ir a otra página</a>
        </div>


        <div class="footer">
            <p>© 2024 Sistema de Menú - Todos los derechos reservados.</p>
        </div>
    </body>
</html>
