<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">

<head th:replace="layouts/HeadLayout:: head"></head>


<body>
<div id="loader">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>

<section class="section login-area h-100vh py-4">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-12 col-sm-10 col-md-6 col-lg-6 mx-auto d-none d-md-block">
                <div class="login-slider owl-carousel">
                    <img src="/assets/img/welcome/login-1.svg" alt="">
                    <img src="/assets/img/welcome/login-2.svg" alt="">
                    <img src="/assets/img/welcome/login-3.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="appo-modal py-4 p-lg-4">
                    <div id="alert-container"></div>
                    <div th:if="${alerta}" class="alert alert-danger" role="alert">
                        <span th:text="${alerta}"></span>
                    </div>
                    <div th:if="${alertaExito}" class="alert alert-success" role="alert">
                        <span th:text="${alertaExito}"></span>
                    </div>
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="login-form signup-form" th:action="@{/auth/sign-up}" th:object="${usuario}"
                                  method="post" onsubmit="return validarRegistro(event)">
                                <div class="profile-login mb-2 p-4">
                                    <span class="bg-white p-2">Inicio de Sesion</span>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre"
                                           name="nombre"
                                           onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="correo" class="form-label">Correo:</label>
                                    <input type="email" class="form-control" th:field="*{correo}" id="correo"
                                           name="correo">
                                </div>
                                <div class="mb-3">
                                    <label for="contrasena" class="form-label">Contraseña:</label>
                                    <input type="password" class="form-control" th:field="*{contrasena}" id="contrasena"
                                           name="contrasena"
                                    >
                                </div>
                                <div class="mb-3">
                                    <label for="confirmarContrasena" class="form-label">Confirmar
                                        Contraseña:</label>
                                    <input type="password" class="form-control" id="confirmarContrasena"
                                           name="confirmarContrasena">
                                </div>
                                <div class="mb-3" style="text-align: center;">
                                    <label for="aula" class="form-label">Aula:</label>
                                    <select class="form-select" th:field="*{usuAula}" id="aula">
                                        <option value="">-- Selecciona un aula --</option>
                                        <option th:each="aula : ${aulas}" th:value="${aula.catAulaId}"
                                                th:text="${aula.numero + ' - ' + aula.descripcion}"></option>
                                    </select>
                                </div>
                                <div class="mb-3" style="text-align: center;">
                                    <input type="submit" class="btn btn-primary"
                                           value="Registrarme">
                                    <br>
                                    <span><a th:href="@{/}">Iniciar Sesion</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    function mostrarAlerta(mensaje) {
        var alertaDiv = document.createElement("div");
        alertaDiv.classList.add("alert", "alert-danger", "mb-3");
        alertaDiv.textContent = mensaje;

        var alertContainer = document.getElementById("alert-container");
        alertContainer.insertBefore(alertaDiv, alertContainer.firstChild);

        // Temporizador para eliminar la alerta después de 4 segundos
        setTimeout(function () {
            alertaDiv.remove();
        }, 2000);
    }

    function validarRegistro() {
        var nombre = document.getElementById("nombre").value;
        var correo = document.getElementById("correo").value;
        var contrasena = document.getElementById("contrasena").value;
        var confirmarContrasena = document.getElementById("confirmarContrasena").value;
        var aula = document.getElementById("aula").value;

        if (nombre === "") {
            mostrarAlerta("Por favor, ingresa tu nombre.");
            return false;
        }

        // Validación del correo electrónico
        var regexCorreo = /^[a-zA-Z0-9._-]+@umb\.edomex\.mx$/;
        if (!regexCorreo.test(correo)) {
            mostrarAlerta("Por favor, ingresa un correo electrónico válido con el dominio umb.edomex.mx");
            return false;
        }
        // Validación de contraseña
        if (contrasena === "") {
            mostrarAlerta("Por favor, ingresa una contraseña.");
            return false;
        }

        // Verificación de longitud de la contraseña
        if (contrasena.length < 3) {
            mostrarAlerta("La contraseña debe tener al menos 6 caracteres.");
            return false;
        }

        // Verificación de coincidencia de contraseñas
        if (contrasena !== confirmarContrasena) {
            mostrarAlerta("Las contraseñas no coinciden.");
            return false;
        }

        // Validación del aula
        if (aula === "") {
            mostrarAlerta("Por favor, selecciona un aula.");
            return false;
        }

        return true;
    }

</script>

<!-- Generales -->
<script th:replace="layouts/ScriptLayout:: script"></script>
</body>


</html>